.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.dot-quote {
  width: 10px;
  height: 10px;
  background-color: red;
}
.dot-thought {
  width: 10px;
  height: 10px;
  background-color: blue;
}
.dot-concept {
  width: 10px;
  height: 10px;
  background-color: purple;
}
.dot-definition {
  width: 10px;
  height: 10px;
  background-color: green;
}
.dot-connection {
  width: 10px;
  height: 10px;
  background-color: orange;
}
