@import 'universals.css';

.book {
  color: var(--clr-neutral-900);
  padding: 15px;
  width: 90%;
  margin: 0px auto 10px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.text {
  flex-basis: 90%;
}
.text h3 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  margin-bottom: 3px;
}
.text p {
  color: var(--clr-neutral-300);
  text-align: right;
}
.activated {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  padding-right:10px;
  gap:5px;
}
