@import 'universals.css';

.button {
  all: initial;
  background-color: var(--clr-button-orange);
  margin: auto 0px 20px 20px;
  width: min(50%, 120px);
  padding: 15px 10px;
  text-align: center;
  border: none;
  color: var(--clr-neutral-100);
  border-radius: 10px;
  cursor: pointer;
  font-size: clamp(1rem, 5vw, 1.2rem);
}

.button:hover,
.button:focus {
  background-color: var(--clr-button-orange-focus);
}
.button:active {
  background-color: var(--clr-button-orange-clicked);
}
.chapters {
  overflow: auto;
}
.chapter {
  margin-left: 80px;
  display: flex;
  flex-flow: row wrap;
}
.downArrow {
  all: initial;
  width: 2.5rem;
  font-size: 15px;
  display: flex;
  flex-flow: column;
  margin-right: 5px;
  color: var(--clr-neutral-300);
}
.chapter h3 {
  color: var(--clr-neutral-100);
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
}
.notes {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15px;
  width: 90%;
}
.chapterBar {
  display: flex;
  flex-flow: row wrap;
}
.chapterBar textarea {
  background-color: var(--clr-neutral-600);
  border: none;
  color: var(--clr-neutral-100);
  resize: none;
  padding: 7px;
  height: 4.5rem;
  line-height: 1.8rem;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 80%;
}
.buttonRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.addNoteBar {
  margin: 10px 0px 0px 0px;
  width: 80%;
  display: flex;
  align-items: center;
}
.addNoteButtonBar {
  background-color: var(--clr-neutral-600);
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 15px;
}
.addNoteButtonBar button {
  width: 7rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  font-size: clamp(0.8rem, 1vw, 1rem);
}
.addNoteBar p {
  color: var(--clr-neutral-300);
  font-size: clamp(1rem, 1vw, 1.3rem);
  margin-right: 5px;
}
